<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-map [artist]="currentArtistStats()"></app-map>
<ng-select
  placeholder="Select an artist..."
  [allowClear]="true"
  [items]="artistsData"
  (selected)="artistSelected($event)"
  >
</ng-select>

<div>
  <p *ngIf="currentArtistDescription()" [innerHTML]="currentArtistDescription()">
  </p>
  <img 
    *ngIf="currentArtistImage()"
    [src]="currentArtistImage()"
    >
</div>